#head {
    text-align: center;
    padding-top: 2rem;
    color: black;
    font-size: 300%;
}
#nav-bar {
    text-align: center;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}
#nav {
    display: inline;
    padding: 1rem 5rem;
    border: 2px solid white;
}
.navi {
    text-decoration: none;
    color: black;
}
.nav2 {
    text-decoration: none;
    color: black;
    font-size: 130%;
}
.upper {
    background-color: #0AFFFF;
    border-bottom-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
}
.head { font-weight: bold;
    color: grey;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.head2 {
color: 0AFFFF;
}

    .section3 {
    margin: 4rem;
    font-weight: lighter;
    font-size: 150%;
    text-align: justify;
    }
    .section2{
        text-align: center;
        padding-top: 2rem;
    }
    .section9 {
    background-color: white;
    }
    .date{
    color: grey;
    }
    .tab2 {
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    background-color: #0AFFFF;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    }
    
    .footer-1{
    text-decoration: none;
    color: black;
    }
    .footer2 {
    text-align: center;
    
    padding-bottom: 4rem;
    }
    #foot2 {
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid white;
    }
    .foot {
    background-color: #0AFFFF;
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
    }
    .footer1 {
    padding-left: 4rem;
    padding-top: 3rem;
    color: black;
    text-align: center;
    }